<div class="topbar-menu">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li class="has-submenu">
                    <a href="dashboard.html">
                        <i class="dripicons-meter"></i>Dashboard
                    </a>
                </li>
                <li class="has-submenu">
                    <a href="master-menu-utama.html"> <i class="dripicons-briefcase"></i>Data master<div class="arrow-down"></div></a>
                    <ul class="submenu megamenu">
                    <li>
                            <ul>
                                <li>
                                    <a href="master-default-akun.html">Default akun</a>
                                </li>
                                <li>
                                    <a href="master-tahun-akademik.html">Tahun akademik</a>
                                </li>
                                <li>
                                    <a href="master-jurusan.html">Jurusan</a>
                                </li>
                                <li>
                                    <a href="master-laboratorium.html">Laboratorium</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <a href="master-mata-pelajaran.html">Mata pelajaran</a>
                                </li>
                                <li>
                                    <a href="master-jenis-pelanggaran.html">Jenis pelanggaran</a>
                                </li>
                                <li>
                                    <a href="master-Kegiatan-siswa.html">Jenis Kegiatan siswa</a>
                                </li>
                                <li>
                                    <a href="master-laboratorium.html">Jenis struktur</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <a href="master-jenis-biaya.html">Jenis biaya</a>
                                </li>
                                <li>
                                    <a href="master-jenis-bantuan.html">Jenis bantuan</a>
                                </li>
                                <li>
                                    <a href="master-ppdb.html">Data PPDB</a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </li>
                
                <li class="has-submenu">
                    <a href="data-ptk.html">
                        <i class="dripicons-user-group"></i>Data ptk
                    </a>
                </li>
                
                <li class="has-submenu">
                    <a href="data-siswa.html">
                        <i class="dripicons-user"></i>Data siswa
                    </a>
                </li>

                <li class="has-submenu">
                    <a href="#"> <i class="dripicons-folder-open"></i>Akademik <div class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li>
                            <a href="akademik/struktur">Manajemen struktur</a>
                        </li>
                        <li>
                            <a href="akademik/struktur">Manajemen rombel</a>
                        </li>
                        <li>
                            <a href="akademik/struktur.html">Kelola kurikulum</a>
                        </li>
                        <li>
                            <a href="manajemen/jadwal.html">Kelola jadwal</a>
                        </li>
                        <li>
                            <a href="manajemene/pelanggaran.html">Kelola pelanggaran</a>
                        </li>
                        <li>
                            <a href="layouts-boxed.html">Penilaian siswa</a>
                        </li>
                        <li>
                            <a href="layouts-boxed.html">SPK perangkingan</a>
                        </li>
                    </ul>
                </li>
                
                <li class="has-submenu">
                    <a href="#"> <i class="dripicons-card"></i>Keuangan <div class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li>
                            <a href="layouts-topbar-light.html">Pengajuan beasiswa</a>
                        </li>
                        <li>
                            <a href="layouts-center-menu.html">Kelola pembayaran</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</div>
<!-- end navbar-custom -->