// 
// card.scss
//

.card {
    margin-bottom: $grid-gutter-width;
    box-shadow: $box-shadow-sm;
}

.card-drop {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    color: inherit;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    margin-top: -6px;
    &:hover {
        background-color: $gray-200;
        color: $dark;
    }
}


// Card title / Card Header
.card-title,
.card-header {
    margin-top: 0;
}


// Custom card box
.card-box {
    background-color: $white;
    padding: $card-spacer-x;
    box-shadow: $box-shadow-sm;
    margin-bottom: $grid-gutter-width;
    @include border-radius($card-border-radius);
}

.header-title {
    font-size: 17px;
    margin: 0 0 7px 0;
}

.sub-header {
    margin-bottom: $grid-gutter-width;
    color: $gray-600;
    font-size: 14px;
}

.card-master{
    height: 150px;
    width: 340px;
    transition: .25s;
    @media(max-width:768px){
        width: 300px;
    }
    &:hover{
        box-shadow:
            0 2.8px 2.2px rgba(#43D4F4, 0.034),
            0 6.7px 5.3px rgba(#43D4F4, 0.048),
            0 12.5px 10px rgba(#43D4F4, 0.06),
            0 22.3px 17.9px rgba(#43D4F4, 0.072),
            0 41.8px 33.4px rgba(#43D4F4, 0.086),
    }
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    .card-master-img{
        left: 0;
        width: 40%;
        bottom: 10%;
        // opacity: .8;
    }
    p{
        width: 60%;
        &.p-title{
            top: 15%;
            right: 10%;
            font-size: 40px;
        }
        &.p-nomor{
            right: 0;
            bottom: 0;
            font-size: 50px;
        }
    }
}