
//hero
.hero{
    position: relative;
    height: 400px;
    border-radius: 5px;
    @media(max-width:768px){
        height: 550px;
    }
    p{
        position: absolute;
        left: 9.5%;
        top: 40%;
        transform: translateY(-50%);
        @media(max-width:768px){
            top: 30%;
            font-size: 40px !important;
        }
        .sub-1{
            font-size: 30px;
        }
        .sub-2{
            font-size: 18px;
        }
    }
    .hero-dashboard-img{
        height: 100%;
        position: absolute;
        bottom: 0;
        right: -8%;
        @media(max-width:768px){
            height: 40%;
        }
    }
    .hero-img-master{
        height: 110%;
        position: absolute;
        bottom: 0;
        right: -8%;
        @media(max-width:768px){
            height: 50%;
        }
    }
}